*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffc8dd;
}
 .container{
    width: 1000px;
    height: auto;
    padding: 20px;
    background-color: #cdb4db ;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #bb87d8;
 }
.container:hover{
    box-shadow: 10px 10px 10px 10px #bb87d8;
}
 .container li{
    border-radius: 25px;
    margin: 5px;
    font-size: 20px;
 }
 .container li:hover{
      background-color: #ffafcc;
 }
 #submit{
    background-color: #bde0fe;
border: 0;
color: black;
 }
.alagse{
    background-color: #bde0fe;
    border: 0;
    color: black;
    margin-top: 30px;
    margin-left: 450px;
}
.alagse:hover{
    background-color: #bde0fe;
    border: 0;
    color: black;
    margin-top: 30px;
    margin-left: 450px;
}
 .result{
    width: fit-content;
    height: auto;
    background-color: white;

 }